*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:blue;
    height: 100vh;;
}

p{
    margin-bottom:1rem;
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: brown;
    color: aliceblue;
}

#shoppingList{
    padding:2rem;
    text-align: center;
}